<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
      <li><a class="nav-link" href="/login">login</a></li>
      <li><a class="nav-link" href="/account">Account</a></li>
      <li><a class="nav-link" routerLink="/profile">Profile</a></li>
      <li><button class="Logout_button" id="Logout" (click)="logOut($event)">Logout</button></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>